# We're we store ezkl build and proof SRS files
kzgs/
ezkl/

# Working directories 
src/MNIST
src/GPT2
src/experiments/model_size/logs
src/experiments/model_size/proofs
src/experiments/model_size/runfiles

# Standard ignores
.DS_Store
*.pyc
*/__pycache__/

*/logs/*


# Proof files
*.json
*.onnx
*.params
*.key
*.proof
*_results.csv
*.pb
*.srs
*.csv
*.ezkl